/*
  title: base css
*/


/* =global elements
--------------------------------------------- */
body {
  color: #999;
  font: 14px/1.5em "Lucida Grande", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 715px;
  margin: 20px;
}

a:link, a:visited {
  color: #3b5998;
  font-weight: bold;
  text-decoration: none;
}

a:hover, a:active {
  text-decoration: underline;
}

h1 {
  color: #656565;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
}

textarea.centered {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

input.centered {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

/* ------------------------------------------ */

/* =header
--------------------------------------------- */
header {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  font-size: 11px;
  padding: 24px 18px;
}

header.no-user {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  font-size: 11px;
  padding: 24px 18px;
}

section {
  border-left: 1px solid #b3b3b3;
  border-right: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  font-size: 14px;
  color: #000000;
  padding-right: 20px;
  padding-left: 20px;;
}

header h1 {
  border-bottom: 2px solid #e9e9e9;
  margin: 0 0 9px;
  padding: 2px 0 8px;
}

header #picture + div {
  margin-left: 82px;
}

header #picture {
  background-position: center 25%;
  background-repeat: no-repeat;
  background-size: 64px;
  float: left;
  margin-right: 18px;
  width: 64px;
  height: 64px;
  overflow: hidden;
}

header .tagline {
  float: left;
}

img.logo {
  float: right;
}

/* ------------------------------------------ */

/* =toolbar
--------------------------------------------- */
.toolbar-button:link, .toolbar-button:visited {
  background-color: #eee;
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: linear-gradient(top, #fdfdfd, #eaebeb);
  border: 1px solid #a9a9a9;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  color: #4f4f4f;
  display: -moz-inline-box;
  display: inline-block;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  outline: none;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.toolbar-button span {
  padding: 0 8px 0 8px;
}

.toolbar-button .speech-bubble {
  background-position: 6px 3px;
}


/* ------------------------------------------ */

/* =current
--------------------------------------------- */
.current-button:link, .current-button:visited {
  background-color: ##6e6edb;
  background-image: -moz-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -ms-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: -o-linear-gradient(top, #fdfdfd, #eaebeb));
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#eaebeb));
  background-image: -webkit-linear-gradient(top, #fdfdfd, #eaebeb);
  background-image: linear-gradient(top, #fdfdfd, #eaebeb);
  border: 1px solid #a9a9a9;
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
  color: #4f4f4f;
  display: -moz-inline-box;
  display: inline-block;
  font-family: 'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  margin: 0;
  outline: none;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .33);
}

.current-button span {
  padding: 0 8px 0 8px;
}

.current-button .speech-bubble {
  background-position: 6px 3px;
}

/* ----------------------------------------------- */


/* =clearfix
--------------------------------------------- */
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.clearfix {
  zoom: 1;
}
